* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  height: 100vh;
  background-image: url("assets/Background.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
}

#logo-unpar img {
  width: 213px;
  height: 67px;
}

#logo-if img {
  width: 248px;
  height: 70px;
  margin-bottom: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  padding: 40px 26px 20px 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav #left-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav #left-icon #logo-unpar,
nav #left-icon #logo-if {
  border: white;

  /*drop shadow*/
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

  /* glass effect*/
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;

  width: 233px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #left-icon #logo-if {
  width: 268px;
  height: 88px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 480px;
  height: 486.58px;

  /*drop shadow*/
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

  /* glass effect*/
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

input::placeholder {
  color: #BCBEC0;
  opacity: 1;
}

main h1{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 64px;
  color: white;
}

main form{
  width: 298px;
  height: 320px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}

main form h2{
  color: white;
  font-size: 40px;
}

main form #inp-email{
  display: flex;
  flex-direction: column;
  color: white;
  width: 320px;
  gap: 8px;
}

main form #inp-pass input[type="password"],
main form #inp-email input[type="text"]{
  height: 36px;
  border: none;
  border-radius: 5px;
}

main form #inp-pass{
  display: flex;
  flex-direction: column;
  color: white;
  width: 320px;
  gap: 8px;
  a{
    color: white;
  }
}

main form button{
  width: 320px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #004CBD;
  color: white;
  border: none;
}
